body{
  text-align: center;
}
.btn-container{
  display: flex;
  justify-content: center;
}
.btn{
  height: 200px;
  width: 200px;
  border-radius: 20%;
  border: 10px solid black;
  margin: 2.5rem;
}
.red{
  background-color: rgb(254, 49, 49);
}
.yellow{
  background-color: yellow;
}
.purple{
  background-color: rgb(200, 0, 255);
}
.green{
  background-color: rgb(13, 217, 13);
}
.flash{
  background-color: aliceblue;
}
  
  
  